* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

h1,
h2,
h3 {
  font-family: "Monument-Extended", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 36px;
}

p {
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

.dashed-circle {
  animation: rotate 37s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
